body{
    display: grid;
    grid-template-rows: auto auto auto;
    grid-template-areas: "header" "main_content" "footer";
    background-color: rgb(255, 255, 255);
    gap: 10px;
}

header{
    display: grid;
    grid-area: header;
    grid-template-areas: "heading" "navbar";
}

#heading{
    display: grid;
    grid-area: heading;
    grid-template-columns: .25fr 1fr .25fr;
    grid-template-areas: "logo title surveyButton";

}

#title{
    text-align: center;
    line-height: 10px;
    
}

#logo{
    text-align: center;
}
#h4a_logo{
    max-width: 80%;
    max-height: 80%;
}

#footer{
    grid-area: footer;
}

.main{
    grid-area: main_content;
    grid-template-rows: 1fr;
    grid-template-columns: 1.25fr .75fr;
    grid-template-areas: "main_map content";
    display: grid;
}

#contents{
    grid-area: content;
    display: grid;
    grid-template-rows: .2fr 3fr 1fr; 
    grid-template-areas: "title2" "buttonHome" "survey"
}

#the_map{
    height:80vh;
    grid-area: main_map;
}

#theSurvey{
    grid-area: survey;
    justify-self: center; /* added this to center the button in the div */
}

/* css for the button */
#surveyButton{
    padding: 15px 32px;
    margin: 10px;
    background-color: #4CAF50;
    cursor: pointer;
}

/* css for button to get rid of the underline */
#surveyButton a{
    text-decoration: none; 
}

#placeForButtons{
    grid-area: buttonHome;
    display:grid;
    grid-template-columns: repeat(1, 1fr);
}
