body{
    display: grid;
    grid-template-rows: 50px auto auto;
    grid-template-areas: "header" "main_content" "footer";
    background-color: rgb(255, 255, 255);
    gap: 10px;
}

header{
    grid-area: header;
    justify-self: center;
    align-self: center;
    font-size: 40pt;
}

#footer{
    grid-area: footer;
}

.main{
    grid-area: main_content;
    grid-template-columns: .25fr 1fr .5fr;
    grid-template-areas: "about main_map content";
    display: grid;
}

#About{
    padding: 10px 32px;
    margin: 8px;
    background-color: #aee1e7;
    cursor: pointer;
    font-size: 10pt;
}

#contents{
    grid-area: content;
    display: grid;
    grid-template-rows: .2fr 3fr 1fr; 
    grid-template-areas: "title2" "buttonHome" "survey"
}

#the_map{
    height:80vh;
    grid-area: main_map;
}

#theSurvey{
    grid-area: survey;
    justify-self: center; /* added this to center the button in the div */
}

/* css for the button */
#surveyButton{
    padding: 15px 32px;
    margin: 10px;
    background-color: #4CAF50;
    cursor: pointer;
}

/* css for button to get rid of the underline */
#surveyButton a{
    text-decoration: none; 
}

#placeForButtons{
    grid-area: buttonHome;
    display:grid;
    grid-template-columns: repeat(1, 1fr);
}
