body{
    display: grid;
    grid-template-rows: auto auto auto;
    grid-template-areas: "header" "main_content" "footer";
    background-color: rgb(255, 255, 255);
    gap: 10px;
}

h2{
    font-size: 28px;
    color: #92bfec;
    text-align: center;
}

p{
    font-size: 23px;
    margin-left: 60px;
    margin-right: 60px;
}

header{
    display: grid;
    grid-area: header;
    grid-template-areas: "heading";
}

#heading{
    display: grid;
    grid-area: heading;
    grid-template-columns: .30fr 1fr .30fr;
    grid-template-areas: "logo title navbar";
}

#h4a_logo{
    max-width: 80%;
    max-height: 80%;
}

#logo{
    text-align: center;
}

#title{
    text-align: center; 
}

#navbar{
    display: grid;
    grid-template-areas: "homeButton aboutButton surveyButton";
    padding-top: 3%;
}

#homeButton {
    display: grid;
    padding: 10px 16px;
    background-color: #c8cacd;
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    border-radius: 5px;
    width: 8vh;
    height: 4vh;
    text-align: center;
}

#aboutButton {
    display: grid;
    padding: 10px 16px;
    background-color: #c8cacd;
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    border-radius: 5px;
    width: 8vh;
    height: 4vh;
    margin-left: 10%;
    text-align: center;
}

#surveyButton {
    display: grid;
    padding: 10px 16px;
    background-color: #c8cacd;
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    border-radius: 5px;
    width: 18vh;
    height: 4vh;
    font-size: 12pt;
    margin-left: 10%;
    margin-right: 10%;
    text-align: center;
}

.main{
    grid-area: main_content;
    display: grid;
    grid-template-rows: 1fr;
    grid-template-areas: "buttonHome" "survmap" "stats";
}

button{
    margin: 10px;
    padding: 10px
}

#survmap{
    display:grid;
    grid-area: survmap;
    grid-template-columns: 1.25fr .75fr;
    grid-template-areas: "main_map panel";

}

#the_map{
    height:80vh;
    grid-area: main_map;
}

#panel{
    display:grid;
    grid-area: panel;
    grid-template-rows: 1fr; 
    grid-template-areas:"survdata";
    margin-left: 40px;
}

#survdata{
    border:1px solid black;
    padding: 10px;
}

#survdata h2{
    font-size: 12pt;
}

#title2{
    text-align: center; 
}

#placeForButtons{
    grid-area: buttonHome;
    display:grid;
    grid-template-columns: 1fr 1fr;
}

#title3{
    text-align: center
}

#charts{
    display: grid;
    grid-area: charts;
    grid-template-rows: .9fr 1fr;
    grid-template-areas: "chart1" "chart2" "chart3";
}

#chart1{
    text-align: center;
}

#chart2{
    text-align: center;
}

#chart3{
    text-align: center;
}

#footer{
    grid-area: footer;
}